In [71]:
from sqlalchemy import create_engine
import pandas as pd

In [54]:
engine = create_engine('sqlite:///chinook.db')
engine2 = create_engine('sqlite:///DW_SALES_MUSIC.db')
engine

Engine(sqlite:///chinook.db)

**Dimensi√≥n Track**

In [55]:
track_tbl = pd.read_sql_table('tracks', con=engine)
genre_tbl = pd.read_sql_table('genres', con=engine)
mediatype_tbl = pd.read_sql_table('media_types', con=engine)

In [56]:
genre_tbl.rename(columns={'Name': 'Genre'}, inplace=True)
mediatype_tbl.rename(columns={'Name': 'MediaType'}, inplace=True)

In [57]:
track_dim = track_tbl.merge(genre_tbl, on='GenreId')
track_dim = track_dim.merge(mediatype_tbl, on='MediaTypeId')

In [58]:
track_dim.drop(['GenreId', 'AlbumId', 'MediaTypeId'], axis=1, inplace=True)
track_dim.sort_values('TrackId', inplace=True)

In [59]:
track_dim.to_sql(name='dim_track', con=engine2, if_exists='append', index=False)

In [60]:
track_dim

      TrackId  ...                 MediaType
0           1  ...           MPEG audio file
3034        2  ...  Protected AAC audio file
3035        3  ...  Protected AAC audio file
3036        4  ...  Protected AAC audio file
3037        5  ...  Protected AAC audio file
...       ...  ...                       ...
3266     3499  ...  Protected AAC audio file
3267     3500  ...  Protected AAC audio file
3268     3501  ...  Protected AAC audio file
3269     3502  ...  Protected AAC audio file
3152     3503  ...  Protected AAC audio file

[3503 rows x 8 columns]

**Dimensi√≥n Artista**

In [61]:
artist_dim = pd.read_sql_table('artists', con=engine)
artist_dim.to_sql(name='dim_artist', con=engine2, if_exists='append', index=False)
artist_dim

     ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]

**Dimensi√≥n Album**

In [62]:
album_dim = pd.read_sql_table('albums', con=engine)
album_dim.drop(['ArtistId'], axis=1, inplace=True)
album_dim.to_sql(name='dim_album', con=engine2, if_exists='append', index=False)
album_dim

     AlbumId                                              Title
0          1              For Those About To Rock We Salute You
1          2                                  Balls to the Wall
2          3                                  Restless and Wild
3          4                                  Let There Be Rock
4          5                                           Big Ones
..       ...                                                ...
342      343                             Respighi:Pines of Rome
343      344  Schubert: The Late String Quartets & String Qu...
344      345                                Monteverdi: L'Orfeo
345      346                              Mozart: Chamber Music
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...

[347 rows x 2 columns]

**Dimensi√≥n Customer**

In [63]:
customer_dim = pd.read_sql_table('customers', con=engine)
customer_dim.drop(['SupportRepId'], axis=1, inplace=True)
customer_dim.to_sql(name='dim_customer', con=engine2, if_exists='append', index=False)
customer_dim

    CustomerId  FirstName  ...                 Fax                          Email
0            1       Lu√≠s  ...  +55 (12) 3923-5566           luisg@embraer.com.br
1            2     Leonie  ...                None          leonekohler@surfeu.de
2            3   Fran√ßois  ...                None            ftremblay@gmail.com
3            4      Bj√∏rn  ...                None          bjorn.hansen@yahoo.no
4            5  Franti≈°ek  ...    +420 2 4172 5555       frantisekw@jetbrains.com
5            6     Helena  ...                None                hholy@gmail.com
6            7     Astrid  ...                None         astrid.gruber@apple.at
7            8       Daan  ...                None          daan_peeters@apple.be
8            9       Kara  ...                None          kara.nielsen@jubii.dk
9           10    Eduardo  ...  +55 (11) 3033-4564       eduardo@woodstock.com.br
10          11  Alexandre  ...  +55 (11) 3055-8131               alero@uol.com.br
11          12    Roberto  ...  +55 (21) 2271-7070  roberto.almeida@riotur.gov.br
12          13   Fernanda  ...  +55 (61) 3363-7855       fernadaramos4@uol.com.br
13          14       Mark  ...   +1 (780) 434-5565             mphilips12@shaw.ca
14          15   Jennifer  ...   +1 (604) 688-8756            jenniferp@rogers.ca
15          16      Frank  ...   +1 (650) 253-0000             fharris@google.com
16          17       Jack  ...   +1 (425) 882-8081        jacksmith@microsoft.com
17          18   Michelle  ...   +1 (212) 221-4679              michelleb@aol.com
18          19        Tim  ...   +1 (408) 996-1011               tgoyer@apple.com
19          20        Dan  ...                None            dmiller@comcast.com
20          21      Kathy  ...                None            kachase@hotmail.com
21          22    Heather  ...                None             hleacock@gmail.com
22          23       John  ...                None         johngordon22@yahoo.com
23          24      Frank  ...                None             fralston@gmail.com
24          25     Victor  ...                None             vstevens@yahoo.com
25          26    Richard  ...                None       ricunningham@hotmail.com
26          27    Patrick  ...                None           patrick.gray@aol.com
27          28      Julia  ...                None            jubarnett@gmail.com
28          29     Robert  ...                None               robbrown@shaw.ca
29          30     Edward  ...                None            edfrancis@yachoo.ca
30          31     Martha  ...                None           marthasilk@gmail.com
31          32      Aaron  ...                None         aaronmitchell@yahoo.ca
32          33      Ellie  ...                None         ellie.sullivan@shaw.ca
33          34       Jo√£o  ...                None            jfernandes@yahoo.pt
34          35   Madalena  ...                None              masampaio@sapo.pt
35          36     Hannah  ...                None      hannah.schneider@yahoo.de
36          37       Fynn  ...                None           fzimmermann@yahoo.de
37          38     Niklas  ...                None            nschroder@surfeu.de
38          39    Camille  ...                None       camille.bernard@yahoo.fr
39          40  Dominique  ...                None    dominiquelefebvre@gmail.com
40          41       Marc  ...                None        marc.dubois@hotmail.com
41          42      Wyatt  ...                None          wyatt.girard@yahoo.fr
42          43   Isabelle  ...                None      isabelle_mercier@apple.fr
43          44      Terhi  ...                None      terhi.hamalainen@apple.fi
44          45   Ladislav  ...                None       ladislav_kovacs@apple.hu
45          46       Hugh  ...                None           hughoreilly@apple.ie
46          47      Lucas  ...                None         lucas.mancini@yahoo.it
47          48   Johannes  ...                None        johavanderberg@yahoo.nl
48          49  Stanis≈Çaw  ...                None         stanis≈Çaw.w√≥jcik@wp.pl
49          50    Enrique  ...                None         enrique_munoz@yahoo.es
50          51     Joakim  ...                None      joakim.johansson@yahoo.se
51          52       Emma  ...                None         emma_jones@hotmail.com
52          53       Phil  ...                None          phil.hughes@gmail.com
53          54      Steve  ...                None          steve.murray@yahoo.uk
54          55       Mark  ...                None           mark.taylor@yahoo.au
55          56      Diego  ...                None       diego.gutierrez@yahoo.ar
56          57       Luis  ...                None             luisrojas@yahoo.cl
57          58      Manoj  ...                None        manoj.pareek@rediff.com
58          59       Puja  ...                None       puja_srivastava@yahoo.in

[59 rows x 12 columns]

**Dimensi√≥n Time**

In [64]:
def create_time_table(start='2009-01-01', end='2013-12-22'):
    df = pd.DataFrame({'date': pd.date_range(start, end)})
    df['TimeId'] = df.index + 1
    df['year'] = df.date.dt.year
    df['month'] = df.date.dt.month
    df['month_name'] = df.date.dt.month_name()
    df['day'] = df.date.dt.day
    df['day_name'] = df.date.dt.day_name()
    df['day_week'] = df.date.dt.dayofweek
    df['week'] = df.date.dt.weekofyear
    df['quarter'] = df.date.dt.quarter
    
    df = df[['TimeId', 'date', 'year', 'month', 'month_name', 'day', 'day_name', 'day_week', 'week', 'quarter']] 
    
    return df

In [65]:
time_dim = create_time_table()
time_dim.to_sql(name='dim_time', con=engine2, if_exists='append', index=False)
time_dim

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  # Remove the CWD from sys.path while we load stuff.

      TimeId       date  year  month  ...   day_name  day_week week  quarter
0          1 2009-01-01  2009      1  ...   Thursday         3    1        1
1          2 2009-01-02  2009      1  ...     Friday         4    1        1
2          3 2009-01-03  2009      1  ...   Saturday         5    1        1
3          4 2009-01-04  2009      1  ...     Sunday         6    1        1
4          5 2009-01-05  2009      1  ...     Monday         0    2        1
...      ...        ...   ...    ...  ...        ...       ...  ...      ...
1812    1813 2013-12-18  2013     12  ...  Wednesday         2   51        4
1813    1814 2013-12-19  2013     12  ...   Thursday         3   51        4
1814    1815 2013-12-20  2013     12  ...     Friday         4   51        4
1815    1816 2013-12-21  2013     12  ...   Saturday         5   51        4
1816    1817 2013-12-22  2013     12  ...     Sunday         6   51        4

[1817 rows x 10 columns]

**Dimensi√≥n Location**

In [67]:
location_dim = pd.read_sql_table('invoices', con=engine)
location_dim.rename(columns={'InvoiceId': 'LocationId'}, inplace=True)
location_dim = location_dim.drop(['CustomerId','InvoiceDate', 'Total', 'BillingState', 'BillingPostalCode'], axis=1)
location_dim.to_sql(name='dim_location', con=engine2, if_exists='append', index=False)
location_dim

     LocationId  ... BillingCountry
0             1  ...        Germany
1             2  ...         Norway
2             3  ...        Belgium
3             4  ...         Canada
4             5  ...            USA
..          ...  ...            ...
407         408  ...            USA
408         409  ...         Canada
409         410  ...       Portugal
410         411  ...        Finland
411         412  ...          India

[412 rows x 4 columns]

#Tabla de hechos

In [74]:
invItems = pd.read_sql_table('invoice_items', con=engine)
invoice = pd.read_sql_table('invoices', con=engine)
tracks = pd.read_sql_table('tracks', con=engine)
albums = pd.read_sql_table('albums', con=engine)

invoiceFact = pd.merge(invItems, invoice[['InvoiceId','InvoiceDate', 'CustomerId', 'Total']], on='InvoiceId', how='left')
invoiceFact = pd.merge(invoiceFact, tracks[['TrackId','AlbumId']], on='TrackId', how='left')
invoiceFact = pd.merge(invoiceFact, albums[['AlbumId','ArtistId']], on='AlbumId', how='left')
invoiceFact = invoiceFact.merge(time_dim[['date', 'TimeId']], left_on='InvoiceDate', right_on='date')
invoice_fact_dim = invoiceFact[['InvoiceLineId', 'InvoiceId', 'TrackId', 'TimeId', 'CustomerId', 'AlbumId', 'ArtistId','Total']]

In [81]:
#invoice_fact_dim.to_sql('invoice_fact', engine, index=False, method='multi')
invoice_fact = pd.read_sql_table('invoice_fact', con=engine)
invoice_fact.rename(columns={'InvoiceId': 'LocationId'}, inplace=True)
invoice_fact.rename(columns={'InvoiceLineId': 'FactSalesId'}, inplace=True)
invoice_fact.to_sql(name='Fact_Sales', con=engine2, if_exists='append', index=False)

In [83]:
Fact_Sales = pd.read_sql_table('Fact_Sales', con=engine2)
Fact_Sales

      FactSalesId  AlbumId  ArtistId  ...  TimeId  LocationId  Total
0               1        2         2  ...       1           1   1.98
1               2        3         2  ...       1           1   1.98
2               3        1         1  ...       2           2   3.96
3               4        1         1  ...       2           2   3.96
4               5        1         1  ...       2           2   3.96
...           ...      ...       ...  ...     ...         ...    ...
2235         2236      141       100  ...    1809         411  13.86
2236         2237      141       100  ...    1809         411  13.86
2237         2238      248       155  ...    1809         411  13.86
2238         2239      248       155  ...    1809         411  13.86
2239         2240      249       156  ...    1817         412   1.99

[2240 rows x 8 columns]